@import "../../theme.scss";

.badge {
  margin-top: 25px;
  margin-bottom: 25px;

  &__wrapper {
    width: 100%;
    height: 380px;
    padding: 20px;
    background: #f1f1f1;
  }

  &__content {
    height: 100%;
    border: 2px transparent solid;
    border-image: linear-gradient(to bottom, #8b8b8b, transparent, #8b8b8b);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  }

  &__title {
    font-size: 48px;
    color: $text_blue;
    margin-bottom: 15px;
  }

  &__text {
    color: $text_blue;
    font-size: 22px;
    max-width: 500px;
  }
}