@import '../../theme.scss';

.card {
  padding: 15px;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: $black;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__image {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }

  &__price {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: $black;
  }

  &__discount {
    text-decoration-line: line-through;
    color: $text_disabled;
    margin-left: 10px;
  }

  &__button {
    border-radius: 7px;
    font-style: normal;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    outline: none;
    cursor: pointer;
    border: 3px $green solid;
    color: $green;
    background: $white;
    margin-top: 24px;

    &_selected {
      background: $green;
      color: $white;
    }
  }

  &__like {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: $green;
    cursor: pointer;
  }
}