@import '../../theme.scss';

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid $black;
  margin-top: 30px;

  &__image {
    width: 200px;
    height: 200px;
    margin-right: 25px;
  }

  &__name {
    font-weight: 400;
    font-size: 18px;
    color: $black;
    flex-basis: 400px;
  }

  &__trash {
    width: 30px;
    height: 30px;
    color: $text_disabled;
    cursor: pointer;
    margin-right: 150px;
  }

  &__controller {
    display: flex;
    align-items: center;
    width: 100px;
    background: #F8F8F8;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

    & button {
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      font-size: 22px;
    }
  }

  &__total {
    flex-grow: 1;
    text-align: right;
    margin-left: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: $black;

  }
}